---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>About Me</h1>
			<p>
				I am eager to connect and discuss my interests, both professional and otherwise. Please feel free to: 
			</p>
			<ul>
				<li><a href="https://drive.google.com/file/d/1t2YoTFwfw95Zc57eHZBiof3TCVyDsr_4/view?usp=sharing">
					View a copy of my resume
				</a></li>
				<li><a href="linkedin.com/in/lucanijim">Connect on LinkedIn</a></li>
				<li><a href="mailto:luca.nijim@gmail.com" target="_blank">Reach me by email</a></li>
				<li><a href="github.com/lucanijim">Check out my GitHub</a></li>
			</ul>
			<p>
				In my free time, I am interested in music and fitness. I played the tuba in the Notre Dame Marching Band. 
			</p>
		</main>
		<Footer />
	</body>
</html>
